html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-image: url("bg-image.jpeg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

#content {
  flex: 1;
  display: flex;
  flex-direction: row;
}

#side-menu {
  flex: 1;
  padding: 10px;
}

#main {
  flex: 3;
  padding: 10px 10px 10px 0;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1;
  background-color: aliceblue;
  padding: 10px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  display: none;
}
#header-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 25vh;
  min-height: 200px;

}

.header__image {
  padding-inline: 25px;
}
.header__image img {
  border-radius: 50%;
  box-shadow: 0 0 0 0 #772cff;
  margin: 10px;
}

.header__image img:hover {
  box-shadow: 0 0 1rem .5rem #772cff;
}

h1 {
  color: #772cff;
}

h2 {
  color: #fff;
}

#top-menu-bar {
  text-align: center;
  background-color: #334455;
  color: #fff;
  margin: 0;
  padding: 0;
}

#top-menu-bar li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

#top-menu-bar a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 5px 15px;
  margin: 2px 0;
}

#top-menu-bar a:hover {
  background-color: #fff;
  color: #334455;
}

.endorcements {
  color: blue;
}


/* Media queries */
@media only screen and (max-width: 576px) {
  #header-wrapper {
    height: 100vh;
    flex-direction: column;
    justify-content: center;
  }

  .header__content {
    text-align: center;
  }
}