// ========================
// ====== Navigation ======
// ========================

.navbar {
  position: fixed;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
  cursor: pointer;
  z-index: 1;

  @include breakpoint-min(md) {
    left: 2.4rem;
  }

  &-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: $size-64;

    &:before {
      position: absolute;
      content: '';
      width: .1rem;
      height: 100%;
      background-color: $col-text;
      left: calc(50% - 1px);
      z-index: -1;
    }
  }

  a {
    display: block;
    width: $size-16;
    height: $size-16;
    background-color: $col-blue;
    border-radius: 50%;
    border: .1rem solid $col-text;
    cursor: pointer;
    text-decoration: none;

    span {
      display: none;
      margin-left: 3.2rem;
      position: relative;
      top: -1rem;
      background-color: $col-blue;
      color: $col-text;
      padding-inline: $size-8;
      border: .1rem solid $col-text;
      transition: display 1s;

      &:after {
        position: absolute;
        content: '';
        width: 3rem;
        height: .1rem;
        top: $size-16;
        left: -24px;
        background-color: $col-text;
        z-index: -1;
      }
    }

    &:hover {
      span {
        display: inline-block;
      }
    }
  }
}
