// ========================
// ====== Navigation ======
// ========================

.navbar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  background-color:  rgba(35, 21, 60, 0.85);

  .navbar {
    position: relative;
    width: 100%;
    padding-block: $size-16;

    &__list {
      list-style-type: none;

      &--mobile {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: calc(100vw - #{$size-64});
        height: auto;
        background-color: $col-darkblue;
        margin-block-start: $size-96;
        margin-inline: $size-32;
        padding: $size-16;
        border: 1px solid $col-blue;
        z-index: 9;

        &:before {
          position: absolute;
          content: '';
          background-color:  rgba(0, 0, 0, 0.85);
          width: 100vw;
          height: 100vh;
          top: $size-96 * -1;
          left: $size-32 * -1;
          z-index: -1;
        }

        @include breakpoint-min(md) {
          display: none;
        }

        .navbar__item {
          border-bottom: 1px solid $col-blue;

          &:last-child {
            border-bottom: none;
          }
        }

        .navbar__link {
          display: block;
          padding-block: $size-16;
        }

      }

      &--desktop {
        width: 50%;
        margin-inline-start: 50%;
        display: none;
        justify-content: space-around;
        padding-block: $size-16;

        @include breakpoint-min(md) {
            display: flex;
        }
      }
    }

    &__item {
      cursor: pointer;

      &--active {
       .navbar__link {
         color: $col-white;
         font-weight: bold;
       }
      }
    }

    &__link {
      color: $col-blue;
      text-decoration: none;
    }

    &__button {
      position: relative;
      display: block;
      margin-inline-start: auto;
      width: $size-48;
      height: $size-48;
      z-index: 9;
      border: 1px solid $col-blue;
      background-color: $col-darkblue;

      &:after {
        position: absolute;
        content: '';
        width: $size-32;
        height: $size-32;
        background-color: $col-white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &--open {
        &:after {
          mask: url('../../assets/img/icon-close.svg') no-repeat center;
          mask-position: 100%;
        }
      }

      &--close {
        &:after {
          mask: url('../../assets/img/icon-menu.svg') no-repeat center;
          mask-position: 100%;
        }
      }



      @include breakpoint-min(md) {
        display: none;
      }
    }
  }
}
