// ========================
// ======== Footer ========
// ========================

.social-media {
  display: flex;
  flex-direction: column;

  &-wrapper {
    position: fixed;
    right: 0;
    background: yellow;
    top :30%;
    z-index: 9;
  }

  &__item {
    display: block;
    position: relative;
    width: $size-48;
    height: $size-48;
    border: .1rem solid $col-blue;
    background-color: $col-darkblue;
    transition: background-color 0.6s;

    &:before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      background-color: $col-white;
    }

    &--linkedin {
      &:before {
        mask: url('../../assets/img/linkedin.svg') center no-repeat;
        mask-size: 50%;
      }
    }

    &--instagram {
      &:before {
        mask: url('../../assets/img/instagram.svg') center no-repeat;
        mask-size: 50%;
      }
    }

    &--email {
      &:before {
        mask: url('../../assets/img/email.svg') center no-repeat;
        mask-size: 50%;
      }
    }

    &:hover {
      background-color: $col-blue;
    }

  }
}
